<form method="post" action="/update_question/<%=@question.id%>">
    <input type=text placeholder="Question" name="question" value="<%= @question.question %>"><br>
    <input type=submit value="Edit Question">
</form>
