<h1>Quora Clone</h1>
<p>Please login below stranger</p>

<form method=get action=/login>
    <input type=submit value="Login">
</form>


<form method=get action=/signup>
    <input type=submit value="Sign Up">
</form>
