<h1><%="Welcome #{@user.name}"%></h1>


<%@questions.each do |q|%>
    <%=q.question%>
    <a href='/question/<%= q.id %>/edit'>Edit</a>
    <a href='/question/<%= q.id %>/delete'>Delete</a></br>
<%end%>

<form method="post" action="/add_question">
    <input type=text placeholder="Question" name="question"><br>
    <input type=submit value="Add Question">
</form>


