<html>
  <head>
    <title>Quora Clone</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="css/application.css">
  </head>
  <body>
    <h2><%= current_user ? current_user.name : nil %></h2>
    <% if current_user %>
      <form method="post" action="/logout">
        <input type="submit" value="LOG OUT">
      </form>
    <% end %>
    <hr>
    <%= yield %>

  </body>
</html>


